Django==1.8.4
djangorestframework==3.2.3
mock==1.0.1
nose==1.3.7
django-nose==1.4.1
pytz
# fork of PyGithub 1.25.2 with null data bug fix
git+git://github.com/andyhd/PyGithub.git@e73ee4e5480b26ac056558cb0f77b230f1278737
django-grappelli==2.7.1
